<section class="login">
    <div class="login-container card">
        <div class="login-header">
            <img src="images/logo.png" class="login-logo"/>
            <div class="login-title">Авторизация</div>
        </div>
        <form name="loginForm" ng-submit="vm.login()" class="col s12">
            <div class="input-field col s12">
                <i class="material-icons prefix">call</i>
                <input id="user_email"
                       type="text"
                       class="validate"
                       ng-model="vm.user.email">
                <label for="user_email">Номер телефона</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">vpn_key</i>
                <input id="user_pass"
                       type="password"
                       class="validate"
                       ng-model="vm.user.password">
                <label for="user_pass">Пароль</label>
            </div>
            <button type="submit" class="login-submit waves-effect waves-light btn btn-large">Войти</button>
        </form>
    </div>
</section>