<div class="navigation z-depth-1">
    <div class="nav-logo">
        <img src="./images/logo.png"/>
    </div>

    <div class="nav-container">

        <ul class="collapsible first-level" data-collapsible="accordion">
            <li>
                <div class="collapsible-header">Стетхем Дж.Ю.</div>
                <div class="collapsible-body">

                    <ul class="collapsible second-level" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">Монро М.И.</div>
                            <div class="collapsible-body">
                                <ul class="collection third-level">
                                    <li class="collection-item">Визит 1</li>
                                    <li class="collection-item">Визит 2</li>
                                    <li class="collection-item">Визит 3</li>
                                    <li class="collection-item">Визит 4</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Андерсон П.Г.</div>
                            <div class="collapsible-body">
                                <ul class="collection third-level">
                                    <li class="collection-item">Визит 1</li>
                                    <li class="collection-item">Визит 2</li>
                                    <li class="collection-item">Визит 3</li>
                                    <li class="collection-item">Визит 4</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Брежнева В.Ф.</div>
                            <div class="collapsible-body">
                                <ul class="collection third-level">
                                    <li class="collection-item">Визит 1</li>
                                    <li class="collection-item">Визит 2</li>
                                    <li class="collection-item">Визит 3</li>
                                    <li class="collection-item">Визит 4</li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                </div>
            </li>
            <li>
                <div class="collapsible-header">Стетхем Дж.Ю.</div>
                <div class="collapsible-body">

                    <ul class="collapsible second-level" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">Монро М.И.</div>
                            <div class="collapsible-body">
                                <ul class="collection third-level">
                                    <li class="collection-item">Визит 1</li>
                                    <li class="collection-item">Визит 2</li>
                                    <li class="collection-item">Визит 3</li>
                                    <li class="collection-item">Визит 4</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Андерсон П.Г.</div>
                            <div class="collapsible-body">
                                <ul class="collection third-level">
                                    <li class="collection-item">Визит 1</li>
                                    <li class="collection-item">Визит 2</li>
                                    <li class="collection-item">Визит 3</li>
                                    <li class="collection-item">Визит 4</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Брежнева В.Ф.</div>
                            <div class="collapsible-body">
                                <ul class="collection third-level">
                                    <li class="collection-item">Визит 1</li>
                                    <li class="collection-item">Визит 2</li>
                                    <li class="collection-item">Визит 3</li>
                                    <li class="collection-item">Визит 4</li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                </div>
            </li>
            <li>
                <div class="collapsible-header">Стетхем Дж.Ю.</div>
                <div class="collapsible-body">

                    <ul class="collapsible second-level" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">Монро М.И.</div>
                            <div class="collapsible-body">
                                <ul class="collection third-level">
                                    <li class="collection-item">Визит 1</li>
                                    <li class="collection-item">Визит 2</li>
                                    <li class="collection-item">Визит 3</li>
                                    <li class="collection-item">Визит 4</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Андерсон П.Г.</div>
                            <div class="collapsible-body">
                                <ul class="collection third-level">
                                    <li class="collection-item">Визит 1</li>
                                    <li class="collection-item">Визит 2</li>
                                    <li class="collection-item">Визит 3</li>
                                    <li class="collection-item">Визит 4</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="collapsible-header">Брежнева В.Ф.</div>
                            <div class="collapsible-body">
                                <ul class="collection third-level">
                                    <li class="collection-item">Визит 1</li>
                                    <li class="collection-item">Визит 2</li>
                                    <li class="collection-item">Визит 3</li>
                                    <li class="collection-item">Визит 4</li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                </div>
            </li>
        </ul>

        <!--<div class="nav-item first-level">-->
        <!--<div class="nav-item second-level">-->
        <!--<div class="nav-item third-level">-->
        <!---->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>