<div class="header">
    <div class="user">
        <i class="user-icon material-icons medium">assignment_ind</i>
        <div class="user-credentials">
            <span class="user-name">Васецкий И.В.</span>
            <span class="user-code">987 6743 237 3421</span>
        </div>
    </div>
    <button class="btn-exit waves-effect waves-light btn btn-large red lighten-4">Выйти</button>
</div>
<div class="select-block row">
    <div class="input-field col m3 l3">
        <select>
            <option value="" disabled selected>Выбор исследования</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
        </select>
    </div>
    <div class="input-field col m3 l3">
        <select>
            <option value="" disabled selected>Выбор клиники</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
        </select>
    </div>
</div>