<div class="row">
    <div class="card col m6 l6">
        <div class="card-content">
            <span class="card-title grey-text text-darken-4">Welcome to CRF</span>

            <div class="row">
                <form name="loginForm" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class=""></i>
                            <input id="user_name"
                                   type="text"
                                   class="validate"
                                   ng-model="vm.user.name">
                            <label for="user_name">Login</label>
                        </div>
                        <div class="input-field col s12">
                            <i class=""></i>
                            <input id="user_pass"
                                   type="password"
                                   class="validate"
                                   ng-model="user.password">
                            <label for="user_pass">Password</label>
                        </div>
                    </div>
                    <div class="card-action">
                        <button class="waves-effect waves-light btn">Login</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>