<div class="global-wrapper">

  <div class="wrapper">
    <aside>

      <div class="navigation z-depth-1">
        <div class="nav-logo">
          <img src="./assets/images/logo.png"/>
        </div>

        <div class="nav-container">

          <ul class="collapsible first-level" data-collapsible="accordion">
            <li>
              <div class="collapsible-header">Стетхем Дж.Ю.</div>
              <div class="collapsible-body">

                <ul class="collapsible second-level" data-collapsible="accordion">
                  <li>
                    <div class="collapsible-header">Монро М.И.</div>
                    <div class="collapsible-body">
                      <ul class="collection third-level">
                        <li class="collection-item">Визит 1</li>
                        <li class="collection-item">Визит 2</li>
                        <li class="collection-item">Визит 3</li>
                        <li class="collection-item">Визит 4</li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header">Андерсон П.Г.</div>
                    <div class="collapsible-body">
                      <ul class="collection third-level">
                        <li class="collection-item">Визит 1</li>
                        <li class="collection-item">Визит 2</li>
                        <li class="collection-item">Визит 3</li>
                        <li class="collection-item">Визит 4</li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header">Брежнева В.Ф.</div>
                    <div class="collapsible-body">
                      <ul class="collection third-level">
                        <li class="collection-item">Визит 1</li>
                        <li class="collection-item">Визит 2</li>
                        <li class="collection-item">Визит 3</li>
                        <li class="collection-item">Визит 4</li>
                      </ul>
                    </div>
                  </li>
                </ul>

              </div>
            </li>
            <li>
              <div class="collapsible-header">Стетхем Дж.Ю.</div>
              <div class="collapsible-body">

                <ul class="collapsible second-level" data-collapsible="accordion">
                  <li>
                    <div class="collapsible-header">Монро М.И.</div>
                    <div class="collapsible-body">
                      <ul class="collection third-level">
                        <li class="collection-item">Визит 1</li>
                        <li class="collection-item">Визит 2</li>
                        <li class="collection-item">Визит 3</li>
                        <li class="collection-item">Визит 4</li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header">Андерсон П.Г.</div>
                    <div class="collapsible-body">
                      <ul class="collection third-level">
                        <li class="collection-item">Визит 1</li>
                        <li class="collection-item">Визит 2</li>
                        <li class="collection-item">Визит 3</li>
                        <li class="collection-item">Визит 4</li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header">Брежнева В.Ф.</div>
                    <div class="collapsible-body">
                      <ul class="collection third-level">
                        <li class="collection-item">Визит 1</li>
                        <li class="collection-item">Визит 2</li>
                        <li class="collection-item">Визит 3</li>
                        <li class="collection-item">Визит 4</li>
                      </ul>
                    </div>
                  </li>
                </ul>

              </div>
            </li>
            <li>
              <div class="collapsible-header">Стетхем Дж.Ю.</div>
              <div class="collapsible-body">

                <ul class="collapsible second-level" data-collapsible="accordion">
                  <li>
                    <div class="collapsible-header">Монро М.И.</div>
                    <div class="collapsible-body">
                      <ul class="collection third-level">
                        <li class="collection-item">Визит 1</li>
                        <li class="collection-item">Визит 2</li>
                        <li class="collection-item">Визит 3</li>
                        <li class="collection-item">Визит 4</li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header">Андерсон П.Г.</div>
                    <div class="collapsible-body">
                      <ul class="collection third-level">
                        <li class="collection-item">Визит 1</li>
                        <li class="collection-item">Визит 2</li>
                        <li class="collection-item">Визит 3</li>
                        <li class="collection-item">Визит 4</li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="collapsible-header">Брежнева В.Ф.</div>
                    <div class="collapsible-body">
                      <ul class="collection third-level">
                        <li class="collection-item">Визит 1</li>
                        <li class="collection-item">Визит 2</li>
                        <li class="collection-item">Визит 3</li>
                        <li class="collection-item">Визит 4</li>
                      </ul>
                    </div>
                  </li>
                </ul>

              </div>
            </li>
          </ul>

          <!--<div class="nav-item first-level">-->
          <!--<div class="nav-item second-level">-->
          <!--<div class="nav-item third-level">-->
          <!---->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
        </div>
      </div>

    </aside>

    <section class="main-block">

      <header class="z-depth-1">

        <div class="header">
          <div class="user">
            <i class="user-icon material-icons medium">assignment_ind</i>
            <div class="user-credentials">
              <span class="user-name"></span>
              <span class="user-code">987 6743 237 3421</span>
            </div>
          </div>

          <button class="btn-exit waves-effect waves-light btn btn-large red lighten-4">Выйти</button>
        </div>
        <div class="select-block row">
          <div class="input-field col m3 l3">
            <!--<select-->
            <!--custom-select="research"-->
            <!--ng-model="vm.rid"-->
            <!--ng-change="vm.clinicsList(vm.rid)"-->
            <!--ng-options="research._id as research.name for research in vm.researches">-->
            <!--<option value="" disabled selected>Выбор исследования</option>-->
            <!--</select>-->
            <!--</div>-->
            <!--<div class="input-field col m3 l3">-->
            <!--<select-->
            <!--custom-select="clinic"-->
            <!--ng-model="vm.cid"-->
            <!--ng-change="angular.noop()"-->
            <!--ng-options="clinic._id as clinic.name for clinic in vm.clinics">-->
            <!--<option value="" disabled selected>Выбор клиники</option>-->
            <!--</select>-->
          </div>
        </div>

      </header>

      <main class="main-container">

        <!--<router-outlet></router-outlet>-->

      </main>

    </section>
  </div>

</div>
